day1/src/main/mule/day1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cb5fa0dc-6943-4103-b1cf-1bd3484a8654" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="day1Flow" doc:id="9d121e3d-0c91-484e-812d-e313c534647e" >
		<http:listener doc:name="Listener" doc:id="d78c7f70-f5ee-4672-92c1-ef8a9fda9cd5" config-ref="HTTP_Listener_config" path="/day"/>
		<ee:transform doc:name="Transform Message" doc:id="b99d9f05-68d6-40ea-af05-041e6d930e05" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome! " ++ " " ++ payload.firstName ++ " " ++ payload.lastName ++ ".Your customer id is " ++ payload.cid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
